.ant-table-thead > tr > th {
    background-color: #4e73df !important;
    color: var(--color-white) !important;
    font-weight: bold !important;
    text-align: center !important;
}

.ant-table-tbody > tr:nth-child(odd) {
    background-color: #f2f2f2 !important;
}

  .ant-table-tbody > tr > td {
    padding: 0.5rem !important;
    text-align: center;
}

.back-btn{
    margin-bottom: 1rem;
}

